<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Linkowich</title>

  </head>
  <body>
  <table cellpadding="0" cellspacing="0" width="650" align="center">
	<tr>
		<td>
		<!-- start email -->
			<table cellpadding="0" cellspacing="0" width="100%;">
				<tr>
					<td height="35" style="height: 35px; line-height: 35px; font-size: 1px;">&nbsp;</td>
				</tr>

				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
                <td style="font-family:Lucida Sans,Lucida Sans Unicode,Lucida Grande,Arial,Helvetica,Verdana,sans-serif; color: #666666; font-size: 20px; line-height: 20px;"><b>Password Reset Request</b></td>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td height="25" style="height: 25px; line-height: 25px; font-size: 1px;">&nbsp;</td>
				</tr>

				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
								<td style="font-family:Lucida Sans,Lucida Sans Unicode,Lucida Grande,Arial,Helvetica,Verdana,sans-serif; color: #666666; font-size: 14px; line-height: 20px;">You are receiving this email because you have requested to change your Linkowich password. If you did not request this change, please ignore this email.</td>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>

              <tr>
					<td height="25" style="height: 25px; line-height: 25px; font-size: 1px;">&nbsp;</td>
				</tr>

				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
                <td style="font-family:Lucida Sans,Lucida Sans Unicode,Lucida Grande,Arial,Helvetica,Verdana,sans-serif; color: #666666; font-size: 14px; line-height: 20px;">You may use this link to <a href='<%= "#{@website_url}/password-reset/#{@token}" %>'>reset your password</a></td>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td height="25" style="height: 25px; line-height: 25px; font-size: 1px;">&nbsp;</td>
				</tr>

                <tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
								<td style="font-family:Lucida Sans,Lucida Sans Unicode,Lucida Grande,Arial,Helvetica,Verdana,sans-serif; color: #666666; font-size: 14px; line-height: 20px;"></td>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>


				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="309" style="width: 309px; font-size: 1px;">&nbsp;</td>
								<td width="32"></td>
								<td width="309" style="width: 309px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td height="25" style="height: 25px; line-height: 25px; font-size: 1px;">&nbsp;</td>
				</tr>

				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>

								<td width="50" style="width: 50px; font-size: 1px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td height="35" style="height: 35px; line-height: 35px; font-size: 1px;">&nbsp;</td>
				</tr>
			</table>
		<!-- end email -->
		</td>
	</tr>
  </table>

